examples/example_flow.json
[
  {
    "id": "1f385a0a.123db6",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2fba60d5.9222d",
    "type": "debug",
    "z": "1f385a0a.123db6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 220,
    "wires": []
  },
  {
    "id": "c576e560.971c68",
    "type": "inject",
    "z": "1f385a0a.123db6",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 220,
    "wires": [["1febda4.fcd0c26"]]
  },
  {
    "id": "2090f395.9775ec",
    "type": "debug",
    "z": "1f385a0a.123db6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 120,
    "wires": []
  },
  {
    "id": "4911735a.a51d2c",
    "type": "bull cmd",
    "z": "1f385a0a.123db6",
    "name": "",
    "queue": "8814b5de.a45528",
    "cmd": 0,
    "x": 720,
    "y": 220,
    "wires": [["2fba60d5.9222d"]]
  },
  {
    "id": "c4a31ff.361afe",
    "type": "bull run",
    "z": "1f385a0a.123db6",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "queue": "8814b5de.a45528",
    "x": 190,
    "y": 120,
    "wires": [["2090f395.9775ec"]]
  },
  {
    "id": "1febda4.fcd0c26",
    "type": "function",
    "z": "1f385a0a.123db6",
    "name": "simple",
    "func": "msg.cmd = \"add\";\n//msg.jobopts = {\"jobId\": msg.payload.toString(), \"delay\": 2000};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 220,
    "wires": [["4911735a.a51d2c"]]
  },
  {
    "id": "db52d6bf.f39a28",
    "type": "debug",
    "z": "1f385a0a.123db6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 320,
    "wires": []
  },
  {
    "id": "6f758e44.3381a",
    "type": "inject",
    "z": "1f385a0a.123db6",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 320,
    "wires": [["796f29b1.743b48"]]
  },
  {
    "id": "c07aa31b.06174",
    "type": "bull cmd",
    "z": "1f385a0a.123db6",
    "name": "",
    "queue": "8814b5de.a45528",
    "cmd": 0,
    "x": 720,
    "y": 320,
    "wires": [["db52d6bf.f39a28"]]
  },
  {
    "id": "796f29b1.743b48",
    "type": "function",
    "z": "1f385a0a.123db6",
    "name": "add cron job",
    "func": "msg.cmd = \"add\";\nmsg.jobopts = {\"jobId\": \"hi\", \"repeat\": {\"cron\": \"*/10 * * * * *\"}};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 320,
    "wires": [["c07aa31b.06174"]]
  },
  {
    "id": "6aa8b693.386bf8",
    "type": "debug",
    "z": "1f385a0a.123db6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 420,
    "wires": []
  },
  {
    "id": "c93e1024.d8fd9",
    "type": "inject",
    "z": "1f385a0a.123db6",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 420,
    "wires": [["1fef2be6.2b0994"]]
  },
  {
    "id": "24743110.a1184e",
    "type": "bull cmd",
    "z": "1f385a0a.123db6",
    "name": "",
    "queue": "8814b5de.a45528",
    "cmd": 0,
    "x": 720,
    "y": 420,
    "wires": [["6aa8b693.386bf8"]]
  },
  {
    "id": "1fef2be6.2b0994",
    "type": "function",
    "z": "1f385a0a.123db6",
    "name": "stopAndRemoveAllJobs",
    "func": "msg.cmd = \"stopAndRemoveAllJobs\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 420,
    "wires": [["24743110.a1184e"]]
  },
  {
    "id": "24a20eb1.5a1802",
    "type": "debug",
    "z": "1f385a0a.123db6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 520,
    "wires": []
  },
  {
    "id": "1b5a8ade.d24075",
    "type": "inject",
    "z": "1f385a0a.123db6",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 520,
    "wires": [["2180398d.657dd6"]]
  },
  {
    "id": "fc99bf86.c5ae6",
    "type": "bull cmd",
    "z": "1f385a0a.123db6",
    "name": "",
    "queue": "8814b5de.a45528",
    "cmd": 0,
    "x": 720,
    "y": 520,
    "wires": [["24a20eb1.5a1802"]]
  },
  {
    "id": "2180398d.657dd6",
    "type": "function",
    "z": "1f385a0a.123db6",
    "name": "getRepeatableJobs",
    "func": "msg.cmd = \"getRepeatableJobs\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 520,
    "wires": [["fc99bf86.c5ae6"]]
  },
  {
    "id": "94c03afd.bf92d8",
    "type": "debug",
    "z": "1f385a0a.123db6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 620,
    "wires": []
  },
  {
    "id": "514d9968.b4d4c8",
    "type": "inject",
    "z": "1f385a0a.123db6",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 620,
    "wires": [["8e20c51f.d1ee38"]]
  },
  {
    "id": "50dd5b2b.505774",
    "type": "bull cmd",
    "z": "1f385a0a.123db6",
    "name": "",
    "queue": "8814b5de.a45528",
    "cmd": 0,
    "x": 720,
    "y": 620,
    "wires": [["94c03afd.bf92d8"]]
  },
  {
    "id": "8e20c51f.d1ee38",
    "type": "function",
    "z": "1f385a0a.123db6",
    "name": "count",
    "func": "msg.cmd = \"count\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 620,
    "wires": [["50dd5b2b.505774"]]
  },
  {
    "id": "17fa0603.5d650a",
    "type": "debug",
    "z": "1f385a0a.123db6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 720,
    "wires": []
  },
  {
    "id": "69cd0cf0.391124",
    "type": "inject",
    "z": "1f385a0a.123db6",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 720,
    "wires": [["7b048b34.112e54"]]
  },
  {
    "id": "8b0fefea.e6a41",
    "type": "bull cmd",
    "z": "1f385a0a.123db6",
    "name": "",
    "queue": "8814b5de.a45528",
    "cmd": 0,
    "x": 720,
    "y": 720,
    "wires": [["17fa0603.5d650a"]]
  },
  {
    "id": "7b048b34.112e54",
    "type": "function",
    "z": "1f385a0a.123db6",
    "name": "removeRepeatableByKey",
    "func": "msg.cmd = \"removeRepeatableByKey\";\nmsg.jobid = \"hi\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 720,
    "wires": [["8b0fefea.e6a41"]]
  },
  {
    "id": "8814b5de.a45528",
    "type": "bull-queue-server",
    "z": "",
    "name": "hello",
    "address": "localhost",
    "port": "6379"
  }
]
