examples/example_flow.json
[
  {
    "id": "2cfd839d.39725c",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "bcfe0283.48797",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 220,
    "wires": []
  },
  {
    "id": "5a16ee6f.7925b",
    "type": "inject",
    "z": "2cfd839d.39725c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 220,
    "wires": [["f6e1579d.af8af8"]]
  },
  {
    "id": "d00a446d.f5ad78",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 120,
    "wires": []
  },
  {
    "id": "a64cac58.fa3a1",
    "type": "bull cmd",
    "z": "2cfd839d.39725c",
    "name": "",
    "queue": "d181442b.40d5e8",
    "cmd": 0,
    "x": 720,
    "y": 220,
    "wires": [["bcfe0283.48797"]]
  },
  {
    "id": "9e7ed1d0.d187",
    "type": "bull run",
    "z": "2cfd839d.39725c",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "queue": "d181442b.40d5e8",
    "x": 190,
    "y": 120,
    "wires": [["d00a446d.f5ad78"]]
  },
  {
    "id": "f6e1579d.af8af8",
    "type": "function",
    "z": "2cfd839d.39725c",
    "name": "simple",
    "func": "msg.cmd = \"add\";\n//msg.jobopts = {\"jobId\": msg.payload.toString(), \"delay\": 2000};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 220,
    "wires": [["a64cac58.fa3a1"]]
  },
  {
    "id": "9a6123e6.62c29",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 320,
    "wires": []
  },
  {
    "id": "7926462b.d2e218",
    "type": "inject",
    "z": "2cfd839d.39725c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 320,
    "wires": [["270a1100.62546"]]
  },
  {
    "id": "21e8d586.3d9b0a",
    "type": "bull cmd",
    "z": "2cfd839d.39725c",
    "name": "",
    "queue": "d181442b.40d5e8",
    "cmd": 0,
    "x": 720,
    "y": 320,
    "wires": [["9a6123e6.62c29"]]
  },
  {
    "id": "270a1100.62546",
    "type": "function",
    "z": "2cfd839d.39725c",
    "name": "add cron job",
    "func": "msg.cmd = \"add\";\nmsg.jobopts = {\"jobId\": \"hi\", \"repeat\": {\"cron\": \"*/10 * * * * *\"}};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 320,
    "wires": [["21e8d586.3d9b0a"]]
  },
  {
    "id": "2283ea49.9fd4a6",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 420,
    "wires": []
  },
  {
    "id": "44731884.b14ed8",
    "type": "inject",
    "z": "2cfd839d.39725c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 420,
    "wires": [["7acfb222.9e63fc"]]
  },
  {
    "id": "2fb00693.51de5a",
    "type": "bull cmd",
    "z": "2cfd839d.39725c",
    "name": "",
    "queue": "d181442b.40d5e8",
    "cmd": 0,
    "x": 720,
    "y": 420,
    "wires": [["2283ea49.9fd4a6"]]
  },
  {
    "id": "7acfb222.9e63fc",
    "type": "function",
    "z": "2cfd839d.39725c",
    "name": "stopAndRemoveAllJobs",
    "func": "msg.cmd = \"stopAndRemoveAllJobs\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 420,
    "wires": [["2fb00693.51de5a"]]
  },
  {
    "id": "37c872c6.38112e",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 520,
    "wires": []
  },
  {
    "id": "fddd0761.b7e508",
    "type": "inject",
    "z": "2cfd839d.39725c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 520,
    "wires": [["612d8546.7446bc"]]
  },
  {
    "id": "3e1a59e8.e07896",
    "type": "bull cmd",
    "z": "2cfd839d.39725c",
    "name": "",
    "queue": "d181442b.40d5e8",
    "cmd": 0,
    "x": 720,
    "y": 520,
    "wires": [["37c872c6.38112e"]]
  },
  {
    "id": "612d8546.7446bc",
    "type": "function",
    "z": "2cfd839d.39725c",
    "name": "getRepeatableJobs",
    "func": "msg.cmd = \"getRepeatableJobs\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 520,
    "wires": [["3e1a59e8.e07896"]]
  },
  {
    "id": "ffda7b41.db3658",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 620,
    "wires": []
  },
  {
    "id": "a913dc70.1fc67",
    "type": "inject",
    "z": "2cfd839d.39725c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 620,
    "wires": [["b10c5c15.1c222"]]
  },
  {
    "id": "12794a8a.4f1485",
    "type": "bull cmd",
    "z": "2cfd839d.39725c",
    "name": "",
    "queue": "d181442b.40d5e8",
    "cmd": 0,
    "x": 720,
    "y": 620,
    "wires": [["ffda7b41.db3658"]]
  },
  {
    "id": "b10c5c15.1c222",
    "type": "function",
    "z": "2cfd839d.39725c",
    "name": "count",
    "func": "msg.cmd = \"count\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 620,
    "wires": [["12794a8a.4f1485"]]
  },
  {
    "id": "5b2e1ff1.5b83d",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 720,
    "wires": []
  },
  {
    "id": "cda3424f.35461",
    "type": "inject",
    "z": "2cfd839d.39725c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 720,
    "wires": [["ffa13d08.01a4b"]]
  },
  {
    "id": "b602e041.69ea3",
    "type": "bull cmd",
    "z": "2cfd839d.39725c",
    "name": "",
    "queue": "d181442b.40d5e8",
    "cmd": 0,
    "x": 720,
    "y": 720,
    "wires": [["5b2e1ff1.5b83d"]]
  },
  {
    "id": "ffa13d08.01a4b",
    "type": "function",
    "z": "2cfd839d.39725c",
    "name": "removeRepeatableByKey",
    "func": "msg.cmd = \"removeRepeatableByKey\";\nmsg.jobid = \"hi\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 720,
    "wires": [["b602e041.69ea3"]]
  },
  {
    "id": "be2443a5.1331f",
    "type": "debug",
    "z": "2cfd839d.39725c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 970,
    "y": 820,
    "wires": []
  },
  {
    "id": "9d427961.7a5cf8",
    "type": "inject",
    "z": "2cfd839d.39725c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 820,
    "wires": [["ce88925c.fd974"]]
  },
  {
    "id": "7dac94be.17d33c",
    "type": "bull cmd",
    "z": "2cfd839d.39725c",
    "name": "",
    "queue": "d181442b.40d5e8",
    "cmd": 0,
    "x": 720,
    "y": 820,
    "wires": [["be2443a5.1331f"]]
  },
  {
    "id": "ce88925c.fd974",
    "type": "function",
    "z": "2cfd839d.39725c",
    "name": "getRepeatableJobByKey",
    "func": "msg.cmd = \"getRepeatableJobByKey\";\nmsg.jobid = \"hi\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 820,
    "wires": [["7dac94be.17d33c"]]
  },
  {
    "id": "d181442b.40d5e8",
    "type": "bull-queue-server",
    "z": "",
    "name": "hello",
    "address": "localhost",
    "port": "6379"
  }
]
